<launch>
	
	<param name="/use_sim_time" value="true"/>
	
	<!--<node name="traj_process" pkg="velo_scanmatch" type="calib_process" output="screen" args="-traj_filename /tmpmount/bus2calib/bus2-interf-left_forward20.pbstream -bag_filenames /tmpmount/bus2calib/bus2-interf-left_forward.bag">-->
        <!--<node name="traj_process" pkg="velo_scanmatch" type="calib_process" output="screen" args="-traj_filename /tmpmount/bus2calib/bus2-interf-a_straight_foward.pbstream -bag_filenames /tmpmount/bus2calib/bus2-interf-a_straight_foward.bag">-->
        <node name="traj_process" pkg="velo_scanmatch" type="calib_process" output="screen" args="-traj_filename /tmpmount/bus2calib/bus2-interf-left_forward_zero.pbstream -bag_filenames /tmpmount/bus2calib/bus2-interf-left_forward.bag">
        <!--<node name="traj_process" pkg="velo_scanmatch" type="calib_process" output="screen" args="-traj_filename /tmpmount/bus2calib/bus2-interf-a_straight_foward_zero.pbstream -bag_filenames /tmpmount/bus2calib/bus2-interf-a_straight_foward.bag">-->
        <!--<node name="traj_process" pkg="velo_scanmatch" type="calib_process" output="screen" args="-traj_filename /tmpmount/bus2calib/bus2-interf-a_2019-01-11-15-09-42_0_zero.pbstream -bag_filenames /tmpmount/bus2calib/bus2-interf-a_2019-01-11-15-09-42_0.bag">-->
		<!--<param name="pc_topic" value="/velodyne_top/velodyne_points"/>-->
		<param name="pc_topic" value="/velodyne_front/velodyne_points"/>
		<param name="publish_pc" value="false"/>
		<param name="use_ref" value="false"/>
		<param name="calibrate" value="true"/>

		<param name="mode" value="6"/>
                <!--<param name="search_resolution" value="0.1"/>-->
                <!--<param name="search_resolution" value="0.02"/>-->
                <!--<param name="search_resolution" value="0.001"/>-->
                <param name="search_resolution" value="0.0001"/>
                <!--<param name="search_resolution" value="0.5"/>-->
                <!--<param name="half_width_search" value="5"/>-->
		<!--<param name="search_resolution" value="0.025"/>-->
                <!--<param name="half_width_search" value="1"/>-->
                <!--<param name="half_width_search" value=".05"/>-->
                <param name="half_width_search" value=".001"/>
                <!--<param name="half_width_search" value="0.05"/>-->

		<param name="search_resolution_xyz" value="0.01"/>
		<param name="half_width_search_xyz" value="0.50"/>

		<param name="search_resolution_rpy" value="0.1"/>
		<param name="half_width_search_rpy" value="5"/>

		<!--<param name="init_x" value="8.146"/>-->
		<!--<param name="init_y" value="0.928"/>-->
		<!--<param name="init_z" value="2.834"/>-->
                <param name="init_x" value="8.324"/>
		<!--<param name="init_x" value="12.624"/>-->
                <!--<param name="init_x" value="20.624"/>-->
                <param name="init_y" value="0.650"/>
                <!--<param name="init_y" value="2.150"/>-->
                <!--<param name="init_z" value="2.643"/>-->
                <!--<param name="init_z" value="2.443"/>-->
                <param name="init_z" value="2.475"/>
		<!--<param name="init_x" value="0"/>-->
		<!--<param name="init_y" value="0"/>-->
		<!--<param name="init_z" value="0"/>-->

		<param name="init_roll" value="0.0"/>
		<param name="init_pitch" value="0.0"/>
		<param name="init_yaw" value="0.0"/>

		<param name="starting_mssg_number" value="0"/>
		<param name="ending_mssg_number" value="15000.0"/>
		
	</node>
	<node if="false" pkg="rviz" type="rviz" name="rviz" args="-d $(find velo_scanmatch)/rviz_cfg/calib_visualize.rviz" required="true"/>
</launch>
